.main-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  margin: 10px 0px;
}

@media screen and (min-width: 577px) {
  .main-container {
    flex-direction: row;
  }
  .sub-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    flex-grow: 1;
  }
  .container3 {
    background-color: yellow;
    width: 50%;
    height: 80vh;
  }
  .container1 {
    background-color: red;
    height: 50%;
  }
  .container2 {
    background-color: orange;
    height: 50%;
  }
}

@media screen and (min-width: 992px) {
  .main-container {
    flex-direction: row;
  }
  .sub-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 75%;
    flex-grow: 2;
  }
  .container3 {
    background-color: yellow;
    width: 25%;
    height: 80vh;
  }
  .container1 {
    background-color: red;
    height: 50%;
  }
  .container2 {
    background-color: orange;
    height: 50%;
  }
}

@media screen and (max-width: 576px) {
  .main-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    margin: 10px 0px;
  }

  .sub-container {
    display: flex;
    flex-direction: column;
    height: 67%;
  }

  .container1 {
    background-color: red;
    height: 50%;
  }
  .container2 {
    background-color: orange;
    height: 50%;
  }
  .container3 {
    background-color: yellow;
    height: 33%;
  }
}
.header {
  background-color: gray;
  height: 10vh;
}
.footer {
  background-color: gray;
  height: 10vh;
}
