.main-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  margin: 10px 0px;
}

@media screen and (min-width: 577px) {
  .main-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .container3 {
    background-color: yellow;
    width: 50%;
    height: 50%;
  }
  .container1 {
    background-color: limegreen;
    height: 50%;
    width: 100%;
  }
  .container2 {
    background-color: green;
    height: 50%;
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .main-container {
    flex-direction: row;
  }
  .container3 {
    background-color: yellow;
    width: 25%;
    height: 100%;
  }
  .container1 {
    background-color: limegreen;
    height: 100%;
    width: 50%;
  }
  .container2 {
    background-color: green;
    height: 100%;
    width: 25%;
    order: -1;
  }
}
@media screen and (max-width: 576px) {
  .main-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    margin: 10px 0px;
  }

  .container1 {
    background-color: limegreen;
    height: 50%;
  }
  .container2 {
    background-color: green;
    height: 25%;
  }
  .container3 {
    background-color: yellow;
    height: 25%;
  }
}
.header {
  background-color: gray;
  height: 10vh;
}
.footer {
  background-color: gray;
  height: 10vh;
}
